In [1]:
# Library Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline
import time
import random

pd.options.display.max_rows=999

# Import Data

In [2]:
# Read the data and align testing file's structure to training file's structure
training_data = pd.read_csv('training.csv')
testing_data = pd.read_csv('testing.csv')
revenue_data = pd.read_csv('revenue.csv')
weather_data = pd.read_csv('weather.csv')

# Merge and Preprocess Data

In [6]:
#training_data.head()

In [7]:
#testing_data.head()

In [5]:
testing_data1 = testing_data.rename({'inspect':'status'},axis=1)
testing_data1['status']="no_failure"

In [8]:
#testing_data1.head()

In [7]:
weather_data.head()

     site  high_temp  low_temp  wind_speed  precipitation lightning_prob
0  site_1         63        51          13          False            NaN
1  site_2         46        27          15          False            NaN
2  site_3         65        51          15          False            NaN
3  site_4         40        31          10          False            NaN
4  site_5         65        56           9          False            NaN

In [8]:
revenue_data.head()

     site  revenue
0  site_1      204
1  site_2      188
2  site_3      235
3  site_4      153
4  site_5      140

In [9]:

#revenue_data1 = revenue_data
#weather_data1 = weather_data

In [10]:
training_data.shape

(11652, 176)

In [11]:
training_data1 = training_data.copy()

In [12]:
training_data1['status'].value_counts(dropna=False)

no_failure    11450
failure         202
Name: status, dtype: int64

In [13]:
# Align test data to training data file structure
testing_data1['repair_cost']=0

In [14]:
weather_data1 = weather_data.copy()

In [15]:
# Get ID information of weather to align with sensor data
def getID(x):
    return x.split('_')[1]
weather_data1['site_id']=weather_data1.site.apply(getID)

In [16]:
weather_data1 = weather_data1.drop(['site'],axis = 1)
weather_data1.head()

   high_temp  low_temp  wind_speed  precipitation lightning_prob site_id
0         63        51          13          False            NaN       1
1         46        27          15          False            NaN       2
2         65        51          15          False            NaN       3
3         40        31          10          False            NaN       4
4         65        56           9          False            NaN       5

In [17]:
training_data1.head()

,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,sensor_6,sensor_7,sensor_8,sensor_9,sensor_10,...,sensor_167,sensor_168,sensor_169,sensor_170,sensor_171,sensor_172,status,id,site,repair_cost
0,0.0,-9.611918e+03,-2.933241e+03,NaN,Off,NaN,-9.041325e+00,-1.765398e+03,0.0,6.516170e+03,...,-0.235600,0.000000e+00,0.000000,0.0,-2385.106339,1.373863e+05,no_failure,1,36,NaN
1,0.0,-1.485625e+06,9.446258e+07,-16168.112322,Off,292438.605471,NaN,-8.249012e+02,0.0,2.742908e+09,...,665245.071480,-1.055722e+04,0.000000,0.0,0.000000,-2.290514e+05,no_failure,2,144,NaN
2,0.0,-3.829959e+04,7.816485e+06,NaN,Off,NaN,1.330036e+06,4.445554e+06,0.0,4.097052e+09,...,-1346.261115,-3.011502e+04,-970.129775,0.0,0.000000,-2.941840e+03,no_failure,3,267,NaN
3,0.0,2.583618e+06,-5.677418e+03,NaN,Off,NaN,NaN,-1.001854e+03,0.0,-1.873686e+04,...,0.000000,-1.224932e+01,0.000000,0.0,235385.978872,6.841415e+05,no_failure,4,133,NaN
4,0.0,-2.148565e+04,2.360711e+05,NaN,Off,NaN,-8.240733e+00,-5.384500e+03,0.0,-3.244766e+04,...,-9996.138228,1.421501e+07,-0.035251,0.0,0.000000,2.229896e+08,no_failure,5,155,NaN

In [18]:
# Get ID Training Data
def getStringSiteID(x):
    return str(int(x))
training_data1['site_id']=training_data1['site'].apply(getStringSiteID)
training_data1 = training_data1.drop(['site'],axis = 1)
training_data1.head()

,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,sensor_6,sensor_7,sensor_8,sensor_9,sensor_10,...,sensor_167,sensor_168,sensor_169,sensor_170,sensor_171,sensor_172,status,id,repair_cost,site_id
0,0.0,-9.611918e+03,-2.933241e+03,NaN,Off,NaN,-9.041325e+00,-1.765398e+03,0.0,6.516170e+03,...,-0.235600,0.000000e+00,0.000000,0.0,-2385.106339,1.373863e+05,no_failure,1,NaN,36
1,0.0,-1.485625e+06,9.446258e+07,-16168.112322,Off,292438.605471,NaN,-8.249012e+02,0.0,2.742908e+09,...,665245.071480,-1.055722e+04,0.000000,0.0,0.000000,-2.290514e+05,no_failure,2,NaN,144
2,0.0,-3.829959e+04,7.816485e+06,NaN,Off,NaN,1.330036e+06,4.445554e+06,0.0,4.097052e+09,...,-1346.261115,-3.011502e+04,-970.129775,0.0,0.000000,-2.941840e+03,no_failure,3,NaN,267
3,0.0,2.583618e+06,-5.677418e+03,NaN,Off,NaN,NaN,-1.001854e+03,0.0,-1.873686e+04,...,0.000000,-1.224932e+01,0.000000,0.0,235385.978872,6.841415e+05,no_failure,4,NaN,133
4,0.0,-2.148565e+04,2.360711e+05,NaN,Off,NaN,-8.240733e+00,-5.384500e+03,0.0,-3.244766e+04,...,-9996.138228,1.421501e+07,-0.035251,0.0,0.000000,2.229896e+08,no_failure,5,NaN,155

In [19]:
# Get ID Testing Data 
def getStringSiteID(x):
    return str(int(x))
testing_data1['site_id']=testing_data1['site'].apply(getStringSiteID)
testing_data1 = testing_data1.drop(['site'],axis = 1)
testing_data1.head()

,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,sensor_6,sensor_7,sensor_8,sensor_9,sensor_10,...,sensor_167,sensor_168,sensor_169,sensor_170,sensor_171,sensor_172,id,status,repair_cost,site_id
0,0.0,-2.737503e+03,-9.101747e+02,NaN,Off,NaN,-1.594930,2.543392e+04,0.0,-1.047049e+04,...,178.200353,0.000000,0.0,0.0,0.000000,-6.425730e+02,11653,no_failure,0,46
1,0.0,0.000000e+00,0.000000e+00,NaN,Off,NaN,0.000000,3.233714e+05,0.0,3.017365e+08,...,0.000000,0.000000,0.0,0.0,-2601.130232,0.000000e+00,11654,no_failure,0,282
2,0.0,1.353510e+07,1.578386e+06,NaN,Off,NaN,350.591808,-1.690603e+04,0.0,-3.925724e+04,...,9804.287055,45.191905,0.0,0.0,0.000000,4.201649e+07,11655,no_failure,0,46
3,0.0,2.734517e+06,1.428777e+04,NaN,Off,NaN,NaN,1.909930e+06,0.0,-1.626073e+03,...,0.000000,0.000000,0.0,0.0,0.000000,2.500897e+06,11656,no_failure,0,309
4,0.0,2.241955e+06,4.884552e+05,735327.204935,Off,-154902.588506,NaN,-2.207590e+02,0.0,1.013275e+07,...,0.000000,0.000000,0.0,0.0,0.000000,-7.098801e+01,11657,no_failure,0,36

In [20]:
# Check the shape
training_data1.shape

(11652, 176)

In [21]:
# Check the shape
testing_data1.shape

(46610, 176)

In [22]:
# Merge weather data with training
merged_Train_df = pd.merge(training_data1,weather_data1,how='left',on='site_id')
merged_Train_df.shape

(11652, 181)

In [23]:
# Merge weather data with testing
merged_Test_df = pd.merge(testing_data1,weather_data1,how='left',on='site_id')
merged_Test_df.shape

(46610, 181)

In [24]:
# View Sample
merged_Train_df.head()

,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,sensor_6,sensor_7,sensor_8,sensor_9,sensor_10,...,sensor_172,status,id,repair_cost,site_id,high_temp,low_temp,wind_speed,precipitation,lightning_prob
0,0.0,-9.611918e+03,-2.933241e+03,NaN,Off,NaN,-9.041325e+00,-1.765398e+03,0.0,6.516170e+03,...,1.373863e+05,no_failure,1,NaN,36,58,46,7,True,Low
1,0.0,-1.485625e+06,9.446258e+07,-16168.112322,Off,292438.605471,NaN,-8.249012e+02,0.0,2.742908e+09,...,-2.290514e+05,no_failure,2,NaN,144,63,42,7,False,NaN
2,0.0,-3.829959e+04,7.816485e+06,NaN,Off,NaN,1.330036e+06,4.445554e+06,0.0,4.097052e+09,...,-2.941840e+03,no_failure,3,NaN,267,39,26,14,False,NaN
3,0.0,2.583618e+06,-5.677418e+03,NaN,Off,NaN,NaN,-1.001854e+03,0.0,-1.873686e+04,...,6.841415e+05,no_failure,4,NaN,133,64,52,19,False,NaN
4,0.0,-2.148565e+04,2.360711e+05,NaN,Off,NaN,-8.240733e+00,-5.384500e+03,0.0,-3.244766e+04,...,2.229896e+08,no_failure,5,NaN,155,48,44,6,False,NaN

In [25]:
# Removing unneeded columns from train and test
merged_Train_df1 = merged_Train_df.drop(['id','repair_cost'],axis = 1)
merged_Test_df1 = merged_Test_df.drop(['id','repair_cost'],axis = 1)

In [26]:
merged_Train_df2 = merged_Train_df1.copy()
merged_Test_df2 = merged_Test_df1.copy()

### Numerical Columns

In [27]:
# Identify numerical columns
numerical_cols = list(set(list(merged_Train_df2.columns))-set(['sensor_5','sensor_21','sensor_97','sensor_146','sensor_153','status','site_id','precipitation','lightning_prob']))

In [5]:
# # Actual replacement of the missing value using median value for numerical columns in train and test data
# # Taking care of missing data in numerical columns
# from sklearn.preprocessing import Imputer
# imputer = Imputer(missing_values = 'NaN', strategy = 'median', axis = 0)
# imputer = imputer.fit(merged_Train_df2[numerical_cols])

# merged_Train_df2[numerical_cols] = imputer.transform(merged_Train_df2[numerical_cols])
# merged_Test_df2[numerical_cols] = imputer.transform(merged_Test_df2[numerical_cols])

In [29]:
merged_Train_df3 = merged_Train_df2.copy()
merged_Test_df3 = merged_Test_df2.copy()

In [30]:
# Validate columns
merged_Train_df3.columns

Index(['sensor_1', 'sensor_2', 'sensor_3', 'sensor_4', 'sensor_5', 'sensor_6',
       'sensor_7', 'sensor_8', 'sensor_9', 'sensor_10',
       ...
       'sensor_170', 'sensor_171', 'sensor_172', 'status', 'site_id',
       'high_temp', 'low_temp', 'wind_speed', 'precipitation',
       'lightning_prob'],
      dtype='object', length=179)

In [31]:
# Validate columns
merged_Test_df3.columns

Index(['sensor_1', 'sensor_2', 'sensor_3', 'sensor_4', 'sensor_5', 'sensor_6',
       'sensor_7', 'sensor_8', 'sensor_9', 'sensor_10',
       ...
       'sensor_170', 'sensor_171', 'sensor_172', 'status', 'site_id',
       'high_temp', 'low_temp', 'wind_speed', 'precipitation',
       'lightning_prob'],
      dtype='object', length=179)

### Categorical Columns

In [32]:
# Prepare for one hot encoding of categorical data
tempgetdummy=pd.concat([merged_Train_df3,merged_Test_df3],axis=0)
xlist=list(tempgetdummy.columns)

In [33]:
tempgetdummy.head()

,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,sensor_6,sensor_7,sensor_8,sensor_9,sensor_10,...,sensor_170,sensor_171,sensor_172,status,site_id,high_temp,low_temp,wind_speed,precipitation,lightning_prob
0,0.0,-9.611918e+03,-2.933241e+03,0.000000,Off,0.000000,-9.041325e+00,-1.765398e+03,0.0,6.516170e+03,...,0.0,-2385.106339,1.373863e+05,no_failure,36,58.0,46.0,7.0,True,Low
1,0.0,-1.485625e+06,9.446258e+07,-16168.112322,Off,292438.605471,0.000000e+00,-8.249012e+02,0.0,2.742908e+09,...,0.0,0.000000,-2.290514e+05,no_failure,144,63.0,42.0,7.0,False,NaN
2,0.0,-3.829959e+04,7.816485e+06,0.000000,Off,0.000000,1.330036e+06,4.445554e+06,0.0,4.097052e+09,...,0.0,0.000000,-2.941840e+03,no_failure,267,39.0,26.0,14.0,False,NaN
3,0.0,2.583618e+06,-5.677418e+03,0.000000,Off,0.000000,0.000000e+00,-1.001854e+03,0.0,-1.873686e+04,...,0.0,235385.978872,6.841415e+05,no_failure,133,64.0,52.0,19.0,False,NaN
4,0.0,-2.148565e+04,2.360711e+05,0.000000,Off,0.000000,-8.240733e+00,-5.384500e+03,0.0,-3.244766e+04,...,0.0,0.000000,2.229896e+08,no_failure,155,48.0,44.0,6.0,False,NaN

In [34]:
# Do one hot encoding of categorical data
tempgetdummy2 = pd.get_dummies(tempgetdummy,columns=['sensor_5','sensor_21','sensor_97','sensor_146','sensor_153','site_id','precipitation','lightning_prob'],drop_first=True)

In [35]:
tempgetdummy2.head()

,sensor_1,sensor_2,sensor_3,sensor_4,sensor_6,sensor_7,sensor_8,sensor_9,sensor_10,sensor_11,...,site_id_92,site_id_93,site_id_94,site_id_95,site_id_96,site_id_97,site_id_98,site_id_99,precipitation_True,lightning_prob_Low
0,0.0,-9.611918e+03,-2.933241e+03,0.000000,0.000000,-9.041325e+00,-1.765398e+03,0.0,6.516170e+03,-3.122919e+01,...,0,0,0,0,0,0,0,0,1,1
1,0.0,-1.485625e+06,9.446258e+07,-16168.112322,292438.605471,0.000000e+00,-8.249012e+02,0.0,2.742908e+09,2.053135e+07,...,0,0,0,0,0,0,0,0,0,0
2,0.0,-3.829959e+04,7.816485e+06,0.000000,0.000000,1.330036e+06,4.445554e+06,0.0,4.097052e+09,-5.633825e+03,...,0,0,0,0,0,0,0,0,0,0
3,0.0,2.583618e+06,-5.677418e+03,0.000000,0.000000,0.000000e+00,-1.001854e+03,0.0,-1.873686e+04,2.700465e+05,...,0,0,0,0,0,0,0,0,0,0
4,0.0,-2.148565e+04,2.360711e+05,0.000000,0.000000,-8.240733e+00,-5.384500e+03,0.0,-3.244766e+04,-1.699213e+04,...,0,0,0,0,0,0,0,0,0,0

In [36]:
# Split encoded data back into train and test
merged_Train_df4=tempgetdummy2.iloc[:merged_Train_df3.shape[0],:]
merged_Test_df4=tempgetdummy2.iloc[merged_Train_df3.shape[0]:,:]

In [37]:
merged_Train_df4.head()

,sensor_1,sensor_2,sensor_3,sensor_4,sensor_6,sensor_7,sensor_8,sensor_9,sensor_10,sensor_11,...,site_id_92,site_id_93,site_id_94,site_id_95,site_id_96,site_id_97,site_id_98,site_id_99,precipitation_True,lightning_prob_Low
0,0.0,-9.611918e+03,-2.933241e+03,0.000000,0.000000,-9.041325e+00,-1.765398e+03,0.0,6.516170e+03,-3.122919e+01,...,0,0,0,0,0,0,0,0,1,1
1,0.0,-1.485625e+06,9.446258e+07,-16168.112322,292438.605471,0.000000e+00,-8.249012e+02,0.0,2.742908e+09,2.053135e+07,...,0,0,0,0,0,0,0,0,0,0
2,0.0,-3.829959e+04,7.816485e+06,0.000000,0.000000,1.330036e+06,4.445554e+06,0.0,4.097052e+09,-5.633825e+03,...,0,0,0,0,0,0,0,0,0,0
3,0.0,2.583618e+06,-5.677418e+03,0.000000,0.000000,0.000000e+00,-1.001854e+03,0.0,-1.873686e+04,2.700465e+05,...,0,0,0,0,0,0,0,0,0,0
4,0.0,-2.148565e+04,2.360711e+05,0.000000,0.000000,-8.240733e+00,-5.384500e+03,0.0,-3.244766e+04,-1.699213e+04,...,0,0,0,0,0,0,0,0,0,0

In [38]:
merged_Test_df4.head()

,sensor_1,sensor_2,sensor_3,sensor_4,sensor_6,sensor_7,sensor_8,sensor_9,sensor_10,sensor_11,...,site_id_92,site_id_93,site_id_94,site_id_95,site_id_96,site_id_97,site_id_98,site_id_99,precipitation_True,lightning_prob_Low
0,0.0,-2.737503e+03,-9.101747e+02,0.000000,0.000000,-1.594930,2.543392e+04,0.0,-1.047049e+04,-198.640163,...,0,0,0,0,0,0,0,0,0,0
1,0.0,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,3.233714e+05,0.0,3.017365e+08,0.000000,...,0,0,0,0,0,0,0,0,0,0
2,0.0,1.353510e+07,1.578386e+06,0.000000,0.000000,350.591808,-1.690603e+04,0.0,-3.925724e+04,-977.717330,...,0,0,0,0,0,0,0,0,0,0
3,0.0,2.734517e+06,1.428777e+04,0.000000,0.000000,0.000000,1.909930e+06,0.0,-1.626073e+03,-3.186201,...,0,0,0,0,0,0,0,0,0,0
4,0.0,2.241955e+06,4.884552e+05,735327.204935,-154902.588506,0.000000,-2.207590e+02,0.0,1.013275e+07,-1.973337,...,0,0,0,0,0,0,0,0,1,1

In [39]:
# Validate columns
merged_Train_df4.columns

Index(['sensor_1', 'sensor_2', 'sensor_3', 'sensor_4', 'sensor_6', 'sensor_7',
       'sensor_8', 'sensor_9', 'sensor_10', 'sensor_11',
       ...
       'site_id_92', 'site_id_93', 'site_id_94', 'site_id_95', 'site_id_96',
       'site_id_97', 'site_id_98', 'site_id_99', 'precipitation_True',
       'lightning_prob_Low'],
      dtype='object', length=817)

In [40]:
# Validate columns
merged_Test_df4.columns

Index(['sensor_1', 'sensor_2', 'sensor_3', 'sensor_4', 'sensor_6', 'sensor_7',
       'sensor_8', 'sensor_9', 'sensor_10', 'sensor_11',
       ...
       'site_id_92', 'site_id_93', 'site_id_94', 'site_id_95', 'site_id_96',
       'site_id_97', 'site_id_98', 'site_id_99', 'precipitation_True',
       'lightning_prob_Low'],
      dtype='object', length=817)

### Target Columns

In [1]:
# # Label Encoding categorical data -status

# # Encoding the Dependent Variable
# merged_Train_df4['target']=0
# merged_Train_df4.loc[merged_Train_df4.status=="failure",['target']]=1
# merged_Train_df4.target.value_counts()

In [42]:
# Validate shape
print(merged_Train_df4.shape)
print(merged_Test_df4.shape)

(11652, 818)
(46610, 817)

In [43]:
# Validate no difference in columns between train and test
set(merged_Train_df4.columns)-set(merged_Test_df4.columns)

{'target'}

In [44]:
# Understand what columns have nulls
for aCol in merged_Train_df4.columns:
    if merged_Train_df4[aCol].isnull().any():
        print(aCol)

# Feature Normalization

In [45]:
# Understand what columns have nulls
for aCol in merged_Test_df4.columns:
    if merged_Test_df4[aCol].isnull().any():
        print(aCol)

In [46]:
#Scaling of features

In [47]:
# import libraries
from sklearn import preprocessing
plt.style.use('ggplot')

In [49]:
# identify columns to Scale
from sklearn.preprocessing import StandardScaler
columnsToScale=list(set(merged_Train_df4.columns)-set(['target','status']))

In [2]:
# # scale
# for aCol in columnsToScale:
#     #print (aCol)
#     scaler=StandardScaler()
#     #merged_Train_df4[aCol]=st.fit_transform(merged_Train_df4.loc[:,[aCol]])
#     scaled_fit = scaler.fit(merged_Train_df4.loc[:,[aCol]])
#     merged_Train_df4.loc[:,[aCol]] = scaler.transform(merged_Train_df4.loc[:,[aCol]])
#     merged_Test_df4.loc[:,[aCol]] = scaler.transform(merged_Test_df4.loc[:,[aCol]])
# #     print(aCol)
# #     print('\t',round(df[aCol].mean(),3))
# #     print('\t',round(df[aCol].std(),3))

In [51]:
Scaled_Training_df = merged_Train_df4
Scaled_Testing_df = merged_Test_df4

# Feature Selection and Dim Reduction

In [52]:
#Correlation:

In [53]:
# ## Correlation Matrix
# sns.set(style="white")

# # Compute the correlation matrix
# corr = scaled_trained_df.corr()

In [54]:
# corr.head()

In [55]:
# # Generate a mask for the upper triangle
# mask = np.zeros_like(corr, dtype=np.bool)
# mask[np.triu_indices_from(mask)] = True

# # Set up the matplotlib figure
# f, ax = plt.subplots(figsize=(18, 15))

# # Generate a custom diverging colormap
# cmap = sns.diverging_palette(220, 10, as_cmap=True)

# # Draw the heatmap with the mask and correct aspect ratio
# sns.heatmap(corr, mask=mask, cmap=cmap, vmax=.3, center=0,
#             square=True, linewidths=.5, cbar_kws={"shrink": .5})

In [56]:
#PCA:

In [57]:
Scaled_Training_df = Scaled_Training_df.drop(['status'],axis= 1)

In [58]:
Scaled_Training_df.shape
Scaled_Testing_df.shape

(46610, 817)

In [59]:
columnsToScale1=list(set(list(Scaled_Training_df.columns))-set(['target']))

In [3]:
#columnsToScale1

In [61]:
for aCol in Scaled_Training_df.columns:
    if Scaled_Training_df[aCol].isnull().any():
        print(aCol)

In [62]:
# create a PCA model
from sklearn.decomposition import PCA
pca=PCA(n_components=0.95,random_state=42)

In [63]:
# Train the PCA on train
pcamodel=pca.fit(Scaled_Training_df.loc[:,columnsToScale1])

In [64]:
# Columns before PCA
Scaled_Training_df.shape

(11652, 817)

In [65]:
# apply PCA on train and test both
pcamodel.n_components_
Xgiven=pca.transform(Scaled_Training_df.loc[:,columnsToScale1])
Xgivendf=pd.DataFrame(Xgiven)
Xgivendf.shape
scaled_df=pd.concat([Xgivendf,Scaled_Training_df.loc[:,['target']]],axis=1)
scaled_df.shape

(11652, 683)

In [66]:
scaled_train_df_PCA = scaled_df

In [67]:
scaled_df_PCA1 = scaled_train_df_PCA

In [68]:
Xgivent=pca.transform(Scaled_Testing_df.loc[:,columnsToScale1])
Xgivendft=pd.DataFrame(Xgivent)
Xgivendft.shape
scaled__test_df=Xgivendft

In [69]:
#Columns after PCA
scaled__test_df.shape

(46610, 682)

# Model Training

In [70]:
# #Data Splitting
# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
# X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=1)

In [71]:
# #Assigning and dividing the dataset in X and Y
Xcols = scaled_df_PCA1.drop(columns=['target'],axis=1).columns
# #y = modeldf3['target']

In [72]:
# Define a function that runs corss validation using a given model on training data
#from sklearn import cross_validation
from sklearn.model_selection import cross_val_predict
import sklearn.metrics as m
def cvEval(fitmodel):
    predicted=cross_val_predict(fitmodel, scaled_df_PCA1.loc[:,Xcols],scaled_df_PCA1.target, cv=10)
    print("f1 ",m.f1_score(scaled_df_PCA1.target,predicted,average='macro')*100)
    print("accuracy ",m.accuracy_score(scaled_df_PCA1.target,predicted)*100)

In [73]:
# Logistic Regression using Cross Validation
from sklearn.linear_model import LogisticRegression
fitmodel_LR=LogisticRegression(random_state=42,solver='lbfgs',max_iter=1000)
cvEval(fitmodel_LR) #‘lbfgs’ handles multinomial loss

f1  68.21945328890425
accuracy  97.63989014761414

In [74]:
# # Logistic Regression using Cross Validation
# from sklearn.linear_model import LogisticRegression
# fitmodel_LR=LogisticRegression(random_state=42,class_weight={1:"1",0:"1"})
# cvEval(fitmodel_LR)

In [75]:
# Random Forest using Cross Validation
from sklearn.ensemble import RandomForestClassifier
fitmodel_RF=RandomForestClassifier(random_state=42,n_estimators=2000,n_jobs=6,max_depth=6,class_weight='balanced_subsample')
cvEval(fitmodel_RF)

f1  69.39877838414884
accuracy  97.48541023000344

In [76]:
# Define a function which prints accuracy, recall, precision, F1
def cvEval1(fitmodel_RF):
    predicted = cross_val_predict(fitmodel_RF, scaled_df_PCA1.loc[:,Xcols],scaled_df_PCA1.target, cv=10)
    print("accuracy ",m.accuracy_score(scaled_df_PCA1.target,predicted)*100)
    print("pre ",m.precision_score(scaled_df_PCA1.target,predicted,average='macro')*100)
    print("rec ",m.recall_score(scaled_df_PCA1.target,predicted,average='macro')*100)
    print("f1 ",m.f1_score(scaled_df_PCA1.target,predicted,average='macro')*100)
    print(m.classification_report(scaled_df_PCA1.target,fitmodel_RF.predict(scaled_df_PCA1.loc[:,Xcols])))
    print(m.confusion_matrix(scaled_df_PCA1.target,fitmodel_RF.predict(scaled_df_PCA1.loc[:,Xcols])))

# Final Model Application

In [4]:
# cvEval1(fitmodel_RF)
# fitmodel_LR=LogisticRegression(random_state=42,C=0.0001,solver='lbfgs')
# cvEval1(fitmodel_LR)

In [ ]:
lrfit=fitmodel_LR.fit(scaled_df_PCA1.loc[:,Xcols],scaled_df_PCA1.target)

In [ ]:
result=pd.concat([pd.DataFrame(lrfit.predict(scaled__test_df),columns=['inspect']),testing_data.loc[:,'id']],axis=1)

In [ ]:
result.head()

In [ ]:
result.to_csv('testing_new.csv')